<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div>
	<p>Edit your profile</p>
	<%= link_to "Profile", current_user, class: "btn btn-primary" %>
</div>