<footer class="footer">
  	<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
      <div class="container-fluid">
      	<nav>
 
          		<ul class="nav navbar-nav navbar-left navbar-inverse">

            			<li><%= link_to "Back", 'javascript:history.back()' %></li>

            			<li><%= link_to "Home", root_path %></li>

            			<li><%= link_to "Sign out", logout_path, method: :delete %></li> 


          		</ul>

          <nav>
       </div>
     </nav>
     </footer> 